<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
    <!-- <uses-permission -->
    <!-- android:name="android.permission.WRITE_MEDIA_STORAGE" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <uses-permission
            android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
            android:name="android.permission.READ_MEDIA_IMAGES"
            tools:ignore="SelectedPhotoAccess" />
    <uses-permission
            android:name="android.permission.READ_MEDIA_AUDIO"
            tools:ignore="SelectedPhotoAccess" />
    <uses-permission
            android:name="android.permission.READ_MEDIA_VIDEO"
            tools:ignore="SelectedPhotoAccess" />

    <application
            android:name=".common.App"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:enableOnBackInvokedCallback="false"
            android:fullBackupContent="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <service
                android:name=".service.ImageWidgetService"
                android:enabled="true"
                android:exported="true"
                android:foregroundServiceType="shortService"
                android:permission="android.permission.FOREGROUND_SERVICE" />
        <service
                android:name=".service.QuickSettingOpenService"
                android:exported="true"
                android:icon="@drawable/ic_delete_image"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                tools:targetApi="24">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
                android:name=".activity.settings.SettingsActivity"
                android:configChanges="orientation|screenSize"
                android:excludeFromRecents="false"
                android:resizeableActivity="true"
                android:screenOrientation="behind"
                android:theme="@style/SettingsActivityTheme"
                tools:ignore="DiscouragedApi" />
        <activity
                android:name=".activity.image.ImageActivity"
                android:excludeFromRecents="false"
                android:resizeableActivity="true"
                android:screenOrientation="behind"
                android:theme="@style/ImageActivityTheme"
                tools:ignore="DiscouragedApi" />
        <activity
                android:name=".activity.main.MainActivity"
                android:enableOnBackInvokedCallback="true"
                android:excludeFromRecents="true"
                android:exported="true"
                android:resizeableActivity="true"
                android:screenOrientation="behind"
                android:theme="@style/DialogTheme"
                tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <receiver-->
        <!--                android:name=".widget.ImageWidget"-->
        <!--                android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                    android:name="android.appwidget.provider"-->
        <!--                    android:resource="@xml/image_widget_info" />-->
        <!--        </receiver>-->

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>