<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
<!--    <uses-permission-->
<!--            android:name="android.permission.WRITE_MEDIA_STORAGE"-->
<!--            tools:ignore="ProtectedPermissions" />-->
    <uses-permission
            android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
    
    <application
            android:name=".common.App"
            android:allowBackup="true"
            android:fullBackupContent="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            android:largeHeap="true"
            tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
            android:dataExtractionRules="@xml/data_extraction_rules">
        
        <service
                android:name=".service.QuickSettingOpenService"
                android:icon="@drawable/ic_delete_forever_black_24dp"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    
        <activity
                android:name=".activity.settings.SettingsActivity"
                android:excludeFromRecents="false"
                android:screenOrientation="user"
                android:theme="@style/SettingsActivityTheme"
                android:configChanges="orientation|screenSize"
                android:exported="true" />
        <activity
                android:name=".activity.image.ImageActivity"
                android:excludeFromRecents="false"
                android:screenOrientation="user"
                android:theme="@style/ImageActivityTheme" /> <!-- @style/DialogTheme -->
        <activity
                android:name=".activity.main.MainActivity"
                android:excludeFromRecents="true"
                android:exported="true"
                android:screenOrientation="behind"
                android:configChanges="orientation|screenSize"
                android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>